@media(max-width: 1500px) {
  .header__logo-link {
    margin-right: 50px;
  }

  .header__main-item:not(:last-child) {
    margin-right: 50px;
}

.catalog__author-list {
    column-count: 2;
  }
}


@media(max-width: 1260px) {

  .header__inner {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  .header__top {
    width: 100%;
  }

  .burger  {
    display: block;
  }

  .header__search-btn {
    position: absolute;
    display: block;
    right: 39px;
    transition: right .35s ease-in-out;
    z-index: 6;
  }

  .header__search-btn svg {
    width: 29px;
    height: 29px;
  }

  .header__search-btn.search-active {
    right: 243px;
  }

  .header__nav-search {
    display: flex;
    align-items: center;
  }


  .header__search-form.search-form.search-active {
    overflow: visible;
    justify-content: end;
    opacity: 1;
    right: 25px;
    transform: translateX(0);
    width: 261px;
    height: 36px;
    background-color: #18171B;
  }

  .header__search-input::placeholder {
    opacity: 0;
  }

  .header__menu-nav {
    transition: transform .3s ease-in-out;
    transform: translateX(-150%);
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    background-color: rgba(0, 0, 0, 0.9);
    padding: 90px 0 90px 25px;
    width: 100%;
    text-align: left;
    z-index: 7;
  }

  .header__menu-link {
    font-size: 24px;
    line-height: 64px;
  }

  .header__login-link {
    padding: 19px 88px;
    border-radius: 100px;
    border: 2px solid var(--amethyst-color);
    font-weight: 600;
  }

  .header__menu-nav.active {
    transform: translateX(0);
  }

  .header__menu-list {
    display: block;
    margin-bottom: 85px;
  }

  .header__bottom{
    display: none;
  }

  .catalog__author,
  .catalog__tabs {
    max-width: 49%;
  }
}


@media(max-width: 1024px) {
  .container {
    max-width: 1024px;
    padding: 0 50px;
  }

  .header__logo-link {
    margin-right: 0;
  }

  .header__menu-nav {
    padding-left: 50px;
  }

  .hero {
    padding: 113px 0 138px;
  }

  .article {
    max-width: 657px;
  }

  .article__heading {
    margin-bottom: 11px;
  }

  .article__description {
    margin-bottom: 156px;
  }

  .content-swiper {
    width: 596px;
  }

  .gallery {
    padding: 79px 0;
  }

  .gallery__filter,
  .gallery__descr,
  .gallery__descr-info {
    width: 280px;
  }

  .gallery__descr-info {
    bottom: -8px;
  }

  .catalog__header {
    align-items: normal;
    margin-bottom: 17px;
  }

  .catalog__title {
    margin-right: 44px;
  }

  .catalog__item {
    margin-top: 21px;
  }

  .catalog__author-item {
    margin-right: 11px;
  }

  .catalog__author {
    margin-right: 50px;
  }

  .catalog__author,
  .catalog__tabs {
    width: 437px;
  }

  .blank {
    padding: 8px;
    width: 189px;
    height: 130px;
  }

  .blank-info {
    width: 207px;
  }

  .events__content {
    padding-left: 35px;
    min-height: 483px;
    padding-bottom: 55px;
  }

  .events__descr {
    padding-right: 23px;
  }

  .events__item {
    margin-right: 27px;
    width: calc(100% / 3 - 35px);
  }

  .events__descr-title {
    line-height: 33px;
  }

  .events__descr-article {
    padding-right: 6px;
  }

  .events__descr-btn {
    margin-top: 26px;
  }

  .events-swiper {
  margin-bottom: 25px;
  }

  .editions {
    padding-bottom: 156px;
  }

  .editions__swiper {
    width: 639px;
  }

  .editions__item {
    min-height: 433px;
  }

  .book-content {
    padding-top: 13px;
  }

  .book-header {
    max-width: 150px;
  }

  .partners-swiper {
    max-width: 818px;
  }

  .btn-next,
  .btn-prev {
  bottom: 45px;
  }

  .contacts__descr {
    padding-right: 102px;
    padding-bottom: 102px;
  }

  .contacts__form-data {
    width: 335px;
  }

  .contacts__social-item {
    margin-right: 30px;
  }

  .footer__sobtn svg,
  .contacts__social-link svg {
    width: 60px;
    height: 60px;
  }

  .contacts__map {
    min-height: 700px;
  }

  .footer {
    padding: 40px 0;
  }

  .footer__social-item {
    margin-left: 30px;
  }
}

@media(max-width: 989px) {

  .container {
    max-width: 768px;
    padding: 0 50px;
  }

  .header__menu-nav {
    padding-left: 0;
  }

  .header__menu-list,
  .header__login {
    max-width: 768px;
    margin-right: auto;
    margin-left: auto;
    padding-left: 50px;
  }

  .gallery {
    padding: 80px 0 164px;
  }

  .gallery__inner {
    flex-direction: column;
  }

  .gallery__descr,
  .gallery__descr-info {
    width: 100%;
  }

  .content-swiper {
    margin-top: 50px;
    width: 100%;
  }

  .content-navigation {
    margin-left: 0;
  }

  .gallery__descr-info {
    bottom: -95px;
  }

  .catalog__header {
    margin-bottom: 17px;
  }

  .catalog__title {
    margin-right: 41px;
  }

  .catalog__item {
    margin-top: 14px;
  }

  .catalog__item:not(:last-child) {
    margin-right: 52px;
  }

  .catalog__text {
    margin-bottom: 20px;
  }

  .catalog__descr {
    flex-direction: column-reverse;
  }

  .catalog__author,
  .catalog__tabs {
    width: 100%;
    max-width: 100%;
  }

  .catalog__author {
    margin-right: 0;
  }

  .catalog__tabs {
    margin-bottom: 50px;
  }

  .catalog__author-list {
    column-count: 3;
  }

  .catalog__author-item {
    margin-right: 15px;
  }

  .editions__label br {
  display: block;
  }

  .events {
    padding-top: 29px;
  }

  .events-swiper {
    margin-bottom: 51px;
  }

  .events__item {
    width: calc(100% / 2 - 50px);
  }

  .editions {
    padding-top: 84px;
    padding-bottom: 80px;
  }

  .editions__category-title {
    margin-bottom: 0;
  }

  .editions__category-list {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    max-height: 160px;
  }

  .checkbox-inner {
    column-count: 3;
  }

  editions__item {
    margin-right: 105px;
    margin-bottom: 0;
    line-height: 32px;
  }

  .editions__swiper {
    width: 641px;
    margin-top: 60px;
  }

  .editions-navigation {
    padding-left: 0;
  }

  .editions__swiper-content {
    padding-left: 27px;
  }

  .book-content {
    padding-top: 16px;
    max-width: 290px;
  }

  .projects__text {
    margin-bottom: 30px;
    max-width: 99%;
  }

  .projects__link {
    white-space: nowrap;
  }

  .projects__partners-title {
    margin-bottom: 33px;
  }

  .partners-swiper {
    max-width: 562px;
  }

  .btn-next, .btn-prev {
    bottom: 20px;
  }

  .contacts {
    padding-top: 58px;
  }

  .contacts__descr {
    padding-right: 44px;
  }
}


@media(max-width: 767px) {
  .catalog__header {
    flex-direction: column;
  }

  .editions__checkbox-one {
    display: none;
  }

  .editions__checkbox-two {
    display: block;
    width: 100%;
  }

  .h2-click {
    position: relative;
    cursor: pointer;
    padding: 11px 0px;
    font-weight: 700;
    font-size: 16px;
    line-height: 32px;
    border-top: 1px solid rgba(255, 255, 255, 0.5);
  }

  .h2-click::after {
	content: '';
  position: absolute;
  right: 0;
  bottom: 15px;
  width: 15px;
  height: 15px;
  background-image: url(../images/select.svg);
  background-repeat: no-repeat;
}

.h2-click.active::after {
  content: '';
  background-image: url(../images/select-active.svg);
}

  .h2-click,
  .editions__label-checkbox.editions__label-checkbox-active {
    border-bottom: 1px solid rgba(255, 255, 255, 0.5);
  }

  .editions__label-checkbox.editions__label-checkbox-active {
    padding: 13px 20px;
  }

  .custom-checkbox-text {
    line-height: 22px;
  }

  .editions__label-checkbox {
    position: relative;
    padding-left: 25px;
    cursor: pointer;
    max-width: 100%;
    transition: color .2s ease-in-out;
    display: none;
  }

  .editions__label-checkbox-checked::after {
    content: "x";
    position: absolute;
    outline: 1px solid var(--heliotrope-color);
    right: 0;
  }
  .checkbox {
    position: absolute !important;
  	clip: rect(1px 1px 1px 1px); /* IE6, IE7 */
  	clip: rect(1px, 1px, 1px, 1px);
  	padding:0 !important;
  	border:0 !important;
  	height: 1px !important;
  	width: 1px !important;
  	overflow: hidden;
  }
  .checkbox:checked + .custom-checkbox {
  background: url(../images/check.svg);
  background-repeat: no-repeat;
  background-size: 4px 4px;
  background-position: center;
  border: 1px solid var(--heliotrope-color);
  }
  .checkbox:checked + .custom-checkbox + .custom-checkbox-text {
  color: var(--heliotrope-color);
  }
  .custom-checkbox {
    position: absolute;
    top: 18px;
    width: 12px;
    height: 12px;
    border: 1px solid var(--white-color);
    left: 0;
    transition: border .2s ease-in-out;
  }
  .custom-checkbox:before {
    content: "";
    position: absolute;
    width: 4px;
    height: 4px;
    border-radius: 100%;
    background-color: var(--heliotrope-color);
    top: calc(50% - 2px);
    left: calc(50% - 2px);
    opacity: 0;
  }
  .checkbox:checked + .custom-checkbox:before  {
    opacity: 1;
  }
  .editions__label-checkbox {
    opacity: 1;
  }
  .editions__label-checkbox.editions__label-checkbox-active {
    display: block;
  }

  .editions__swiper-content {
    padding-left: 0;
  }

  .contacts__inner {
    flex-direction: column-reverse;
  }

  .contacts__inner,
  .contacts__descr {
    border: none;
  }

  .contacts__map {
    width: 100%;
    height: 320px;
    min-height: 320px;
    margin-right: -15px;
  }
}


@media(max-width: 717px) {

  .container {
    padding: 0 15px;
  }

  .header__menu-list,
  .header__login {
    padding-left: 15px;
  }

  .header__search-btn {
    right: 15px;
    margin-right: 0;
  }

  .hero {
    padding: 45px 0 60px;
  }

  .article {
    text-align: center;
    padding: 0 50px;
  }

  .article__heading {
    font-size: 32px;
    line-height: 36px;
  }

  .article__description {
    font-size: 12px;
    font-weight: 400;
    line-height: 16px;
    margin-bottom: 50px;
  }

  .hero__btn {
    padding: 14px 19px;
    font-size: 12px;
    line-height: 24px;
  }

  .catalog__item:not(:last-child) {
    margin-right: 10px;
  }

  .editions {
    background-image: url(../images/editions-bg-320.jpg);
    background-attachment: fixed;
    padding-bottom: 20px;
  }

  .editions-wrapper {
    max-width: 100%;
  }

  .editions__item {
    max-width: 290px;
    margin-bottom: 50px;
  }

  .editions__item:not(:nth-child(2n)) {
    margin-right: 30px;
  }

  .catalog__country-list {
    justify-content: space-between;
  }

  .book-descr {
    flex-direction: column;
  }
}


@media (max-width: 600px) {

  .container {
    max-width: 500px;
    padding: 0 15px;
  }

  .catalog__author-list {
    column-count: 1;
  }

  .events-swiper {
    flex-wrap: nowrap;
  }

  .events__item {
    width: 100%;
    margin-right: 0;
  }

  .events__btn {
    display: none;
  }

  .editions__form {
    width: 100%;
  }

  .checkbox-inner {
    column-count: 1;
  }

  .questions {
    align-items: stretch;
    width: 100%;
    margin-bottom: 30px;
  }

  .editions__category-title {
    border-top: 1px solid #ffffff;
    border-bottom: 1px solid #ffffff;
  }

  .editions__category-title {
    font-size: 16px;
    transition: color 0.3s ease;
  }

  .editions__category-title::after {
    content: "";
    position: absolute;
    top: 50%;
    right: 5px;
    width: 8px;
    height: 8px;
    border-right: 1px solid;
    border-bottom: 1px solid;
    transform: translateY(calc(-50% - 0.5px)) rotate(45deg);
    transition: transform 0.3s ease;
  }

  .editions__category-title.is-active::after {
    transform: translateY(-50%) rotate(225deg);
  }

  .editions__category-title.is-active + .checkbox-inner .checkbox-wrap .checkbox-content,
  .editions__category-title:not(.is-active) + .checkbox-inner .checkbox-wrap .checkbox:checked ~ .checkbox-content {
    min-height: 45px;
    height: auto;
    padding-top: 10px;
    padding-bottom: 10px;
    border-bottom: 1px solid #ffffff;
    opacity: 1;
  }

  .checkbox-wrap .checkbox-content {
    position: relative;
    overflow: hidden;
    display: block;
    width: 100%;
    height: 0;
    min-height: 0;
    padding-top: 0;
    padding-bottom: 0;
    border-bottom: 0 solid transparent;
    opacity: 0;
    transition-property: min-height, opacity, padding, border;
    transition-duration: 0.5s;
    transition-timing-function: ease;
  }

  .checkbox:checked ~ .checkbox-content .close-icon {
    opacity: 1;
  }

  .close-icon {
    position: absolute;
    right: 0;
    top: 12px;
    width: 20px;
    height: 20px;
    opacity: 0;
    transition: opacity 0.3s linear;
  }

  .close-icon::before,
  .close-icon::after {
    content: "";
    position: absolute;
    top: 50%;
    left: 50%;
    width: 1px;
    height: 100%;
    background-color: purple;
  }

  .close-icon::before {
    transform: translate(-50%, -50%) rotate(45deg);
  }

  .close-icon::after {
    transform: translate(-50%, -50%) rotate(-45deg);
  }

  .editions-wrapper {
    flex-wrap: wrap;
  }

  .editions__item {
    max-width: calc(100% / 2 - 15px);
    margin-bottom: 20px;
  }

  .editions__img {
    width: 100%;
  }
}
